{
    "additionalProperties": {
        "cxFlow": {
			"vulnerabilityScanners": ["sca"]
        }
    },
	"sca": {
		"appUrl": "https://sca.scacheckmarx.com",
		"apiUrl": "https://api.scacheckmarx.com",
		"accessControlUrl": "https://platform.checkmarx.net",
		"tenant": "cxflow",
		"thresholdsSeverity": {
			"HIGH": 7,
			"MEDIUM": 10,
			"LOW": 3
		},
		"thresholdsScore": 9.3,
		"filterSeverity": ["high", "medium", "low"],
		"filterScore": 7.5
	}
}
