{
    "additionalProperties": {
        "cxFlow": {
			"vulnerabilityScanners": ["sast"]
        }
    },
	"sca": {
		"appUrl": "https://sca.scacheckmarx.com",
		"apiUrl": "https://api.scacheckmarx.com",
		"accessControlUrl": "https://platform.checkmarx.net",
		"tenant": "cxflow",
		"thresholdsSeverity": {
			"HIGH": 5,
			"MEDIUM": 6,
			"LOW": 3
		},
		"thresholdsScore": 8.5
	}
}
